# General
/*
!.gitignore
!README.md
!/screenshots
!/Visual Studio
/Visual Studio/*
!/Visual Studio/Property Sheets
!/Visual Studio/*.sln
!/Visual Studio/*.vcxproj
!/Visual Studio/*.vcxproj.user
!/Visual Studio/*.vcxproj.filters
!/Visual Studio/scripts/

# Application

!README.
!/libs
!/Resources
!/Source
